@{
    ViewBag.Title = "Home Page";
}
@model List<NTD_DB.Models.student>
<div class="text-center">
    <h1 class="display-4">List Students</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.id</td>
                <td>@student.name</td>
                <td>@student.age</td>
            </tr>
        }
    </table>
</div>